@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
/* resetando*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}
:root {
    --azul-claro: hsl(210, 46%, 95%);
    --azul-cinzento: hsl(214, 17%, 51%);
    --azul-escuro: hsl(217, 19%, 35%);
    --branco: rgb(255, 255, 255);
}
body {
    background-color: var(--azul-claro);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

main {
    width: 1000px;
    height: 320px;
    background-color: var(--branco);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 400px auto;
}
#drawers {
    max-height: 320px;
    border-radius: 20px 0px 0px 20px;
}
#boxtext {
    padding: 30px;
}
#boxtext > #title {
    color: hsl(217, 19%, 35%);
    margin-bottom: 10px;
}
#boxtext > #text {
    color: var(--azul-escuro)
}
#boxtext > #footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#boxtext > #footer > #profile {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#profile > #avatar {
    border-radius: 50%;
    height: 50px;
}
#profiletext > #name {
    font-weight: bold;
    color: var(--azul-cinzento);
}
#profiletext > #date {
    color: var(--azul-escuro);
}


/* dropup*/
.shareup {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    z-index: 1;
    position: relative;
    bottom: 25px;
    left: 30px;
}
.sharebtn {
    border-radius: 100%;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.shareupcontent {
    color: var(--azul-claro);
    background-color: var(--azul-escuro);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    width: 200px;
    margin-bottom: 10px;
    visibility: hidden;
}
.show {visibility: visible;}

.triang {
    height: 20px;
    width: 20px;
    background-color: var(--azul-escuro);
    transform: rotate(45deg);
    position: relative;
    top: 15px;
    left: 6.5px;
}

@media (max-width: 1000px) {
    main {
        width: 66vw;
        height: auto;
        display: grid;
        grid-template-columns: auto;
    }
    #drawers {
        max-height: unset;
        max-width: 66vw;
        border-radius: 20px 20px 0px 0px;
    }
    #boxtext {
        padding: 0px;
    }
    #boxtext > #title {
        font-size: 80%;
        padding: 10px 10px 0px 10px;
    }
    #boxtext > #text {
        padding: 0px 10px 0px 10px;
    }
    
    #boxtext > #footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;       
    }
    #boxtext > #footer > #profile {
        display: flex;
        justify-content: space-between;
        margin-left: calc(16% - 5px);
        position: relative;
        top: 65px;
    }
    .shareup {
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
        z-index: 0;
        position: unset;
        width: 66vw;
        border-radius: 0px 0px 20px 20px;
        height: 75px;
    }
    .triang {
        height: unset;
        width: unset;
    }
    .shareupcontent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 230px;
        height: 60px;
        margin-bottom: 0px;
        visibility: hidden;
    }
    .show {visibility: visible;
    }
    .show2 {
        background-color: var(--azul-escuro);
    }
}
a {
    cursor: pointer;
}