@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}
body {
    background-color: hsl(210, 46%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

main {
    width: 1000px;
    height: 320px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 400px auto;
}
#drawers {
    max-height: 320px;
    border-radius: 20px 0px 0px 20px;
}
#boxtext {
    padding: 30px;
}
#boxtext > #title {
    font-size: 15px;
    color: hsl(217, 19%, 35%);
    margin-bottom: 10px;
}
#boxtext > #text {
    color: hsl(214, 17%, 51%)
}
#boxtext > #footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#boxtext > #footer > #profile {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#profile > #avatar {
    border-radius: 50%;
    height: 50px;
}
#profiletext > #name {
    font-weight: bold;
    color: hsl(217, 19%, 35%);
}
#profiletext > #date {
    color: hsl(214, 17%, 51%);
}


/* dropup*/
.shareup {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    z-index: 1;
    position: relative;
    bottom: 25px;
    left: 30px;
}
.sharebtn {
    border-radius: 100%;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.shareupcontent {
    color: hsl(210, 46%, 95%);
    background-color: hsl(214, 17%, 51%);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    width: 200px;
    margin-bottom: 10px;
    visibility: hidden;
}
.show {visibility: visible;}

.triang {
    height: 20px;
    width: 20px;
    background-color: hsl(214, 17%, 51%);
    transform: rotate(45deg);
    position: relative;
    top: 15px;
    left: 6.5px;
}